.collection {
  //display: grid;
  //grid-template-columns: 1fr;
  //grid-template-rows: repeat(3, 1fr);
  //
  //@media (min-width: @desktop-width) {
  //  grid-template-columns: 1fr 1fr;
  //  grid-template-rows: 1fr 1fr;
  //
  //  &__description {
  //    grid-row: 1/2;
  //  }
  //
  //  &__info {
  //    grid-row: 2/3;
  //  }
  //
  //  &__big-picture {
  //    grid-row: 1/-1;
  //  }
  //}
  //
  //&__info {
  //  position: absolute;
  //  left: -45px;
  //  top: 47vh;
  //}

  // desktop
  display: grid;
  //grid-template-rows: min-content 1fr;
  grid-template-rows: 35vh 56vh;
  grid-template-columns: 44% 56%;
  //grid-template-columns: 1fr 1fr;

    &__description {
      grid-row: 1/2;
    }

    &__info {
      grid-row: 2/3;
    }

    &__big-picture {
      grid-row: 1/-1;
      height: 90.5vh;
      margin-right: 1.875vw;

      img {
        object-fit: cover;
        width: 100%;
        height: 94%;
        margin-bottom: 2.5vh;
        border-radius: 18px;
      }
    }
}
