@font-face {
  font-family: "SF Compact Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF Compact Display Regular.woff2") format("woff2"),
       url("../fonts/SF Compact Display Regular.woff") format("woff");
  font-display: swap;
}

body {
  background-color: @bg-color;
  height: 100vh;
  font-family: @text-font;
  letter-spacing: 0.05em;
  font-size: 24px;
  color: #000000;
  line-height: 133.8%;
}
