@font-face {
  font-family: "SF Compact Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF Compact Display Regular.woff2") format("woff2"), url("../fonts/SF Compact Display Regular.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 100vw;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  background-color: #DBEEEE;
  font-family: 'SF Compact Display', sans-serif;
  letter-spacing: 0.05em;
  font-size: clamp(20px, 1.5vw, 30px);
  color: #000000;
  line-height: 133.8%;
}
img {
  -o-object-fit: contain;
     object-fit: contain;
}
figure {
  margin: 0;
}
.set-preloader {
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}
.header {
  padding-right: 1.875vw;
  padding-left: 1.875vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header__logo img {
  padding-bottom: 2.5vh;
  height: 6vh;
}
@media (min-width: 1024px) {
  .header__logo img {
    padding-bottom: 0;
    height: 4vh;
  }
}
@media (min-width: 1024px) {
  .nav {
    width: 60%;
  }
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  .nav-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
.nav-list__item {
  padding-left: 1.875vw;
  padding-right: 1.875vw;
  padding-bottom: 2.5vh;
  text-transform: uppercase;
  font-size: clamp(15px, 1.3125vw, 25px);
  color: #3D9090;
}
.features-list {
  font-size: clamp(10px, 1vw, 20px);
  width: 70%;
  overflow-y: auto;
  height: 50%;
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}
.features-list__term {
  font-weight: 900;
}
.features-list__definition {
  font-weight: 100;
}
.features-list__definition::first-letter {
  text-transform: uppercase;
}
.features-list__row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 0.5vh;
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.875vw;
  margin-bottom: 2.5vh;
}
.description__container {
  width: 80vw;
  overflow-y: auto;
  height: 35%;
}
.description__lighting {
  margin-bottom: 1.25vh;
}
@media (min-width: 1024px) {
  .description {
    justify-content: normal;
    margin-bottom: 0;
  }
  .description__container {
    width: 37.5vw;
    overflow-y: auto;
    height: 65%;
  }
}
@media (min-width: 1024px) {
  .collection {
    display: grid;
    grid-template-rows: 35vh 56vh;
    grid-template-columns: 44% 56%;
  }
  .collection__description {
    grid-row: 1/2;
  }
  .collection__info {
    grid-row: 2/3;
  }
  .collection__big-picture {
    grid-row: 1/-1;
  }
}
.circle {
  background-color: #E4D7B9;
  width: 35.5vh;
  height: 34.6vh;
  border-radius: 50%;
}
.info {
  border-top: 1px solid #C4C4C4;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.6vh;
}
.info__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
.info__circle {
  margin-left: clamp(-45px, -1.5vw, -20px);
}
.info__img {
  align-self: flex-start;
  max-height: 35vh;
  max-width: 15vw;
}
@media (min-width: 1024px) {
}
.widget {
  width: 14.8vh;
  height: 46vh;
  display: flex;
  flex-direction: column;
  border-radius: 14px 0 0 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 3.6vh;
}
.widget__button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.widget__img {
  margin-bottom: 0.667vh;
  width: 100%;
}
.widget-list {
  background-color: #BDDDDD;
  overflow-y: auto;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4vh;
  padding: 1.4vh;
  border-radius: 14px 0 0 0;
  overflow-x: hidden;
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}
.button {
  height: 6.3vh;
  border: none;
  margin: 0;
  padding: 0;
}
.button_light {
  background-color: #FFF3DA;
  border-radius: 0 0 0 14px;
  background-image: url("../../img/light-theme.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.7vh 2.8vh;
}
.button_dark {
  background-color: #94A6A6;
  background-image: url("../../img/dark-theme.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5vh 2.6vh;
}
.widget-card {
  border-radius: 14px;
  display: flex;
  justify-content: center;
  width: 11vh;
  height: 10.9vh;
}
.widget-card_active {
  background-color: rgba(255, 255, 255, 0.5);
}
.widget-card:active {
  background-color: rgba(255, 255, 255, 0.5);
}
.widget-card:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.big-picture {
  position: relative;
  display: flex;
}
.big-picture__back {
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
  width: 90%;
  margin: auto;
  margin-bottom: 2.5vh;
  border-radius: 18px;
}
.big-picture__lamp {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  height: 30vh;
  left: 30%;
}
@media (min-width: 1024px) {
  .big-picture {
    height: 90.5vh;
    margin-right: 1.875vw;
  }
  .big-picture__back {
    width: 100%;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */
